<nb-card>
  <nb-card-header>
    Purchase orders
  </nb-card-header>

  <nb-card-body>
    <table mat-table [dataSource]="dataSource" class="w-100">

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price + (element.currency | myCurrency)}} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="promisedDeliveryDate">
        <th mat-header-cell *matHeaderCellDef> Promised DD </th>
        <td mat-cell *matCellDef="let element"> {{element.promisedDeliveryDate}} </td>
      </ng-container>

      <ng-container matColumnDef="wantedDeliveryDate">
        <th mat-header-cell *matHeaderCellDef> Wanted DD </th>
        <td mat-cell *matCellDef="let element"> {{element.wantedDeliveryDate}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </nb-card-body>
</nb-card>
