<ng-container *ngIf="!length" class="text-center">
  <p>No <b>Semi-Product Reservations</b> yet.
</ng-container>

<ng-container *ngIf="length">
  <ngx-semi-product-reservation-table
    [dataSource]="data"
    [displayedColumns]="displayedColumns"
    [tableOptions]="tableOptions">
  </ngx-semi-product-reservation-table>
</ng-container>

<mat-paginator
  *ngIf="length > 10"
  [pageSize]="10"
  [length]="length"
  [pageIndex]="pageIndex"
  (page)="setPage($event)"
  showFirstLastButtons>
</mat-paginator>
