<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    Semi-Product Reservations
  </nb-card-header>

  <nb-card-body>

    <ngx-semi-product-reservation-table
      [dataSource]="data"
      [displayedColumns]="displayedColumns"
    ></ngx-semi-product-reservation-table>

    <mat-paginator [pageSize]="10"
                   [length]="length"
                   [pageIndex]="pageIndex"
                   (page)="setPage($event)"
                   showFirstLastButtons>
    </mat-paginator>

  </nb-card-body>
</nb-card>
