<nb-card>
  <nb-card-header>
    <div *ngIf="!shipment">Create Shipment</div>
    <div *ngIf="shipment">
      Edit Shipment: <b>{{shipment.id}}</b>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="row form-dialog">
      <div class="col">
        <label class="d-block" for="customer">Customer</label>
        <ngx-autocomplete id="customer"
                          (valueSelected)="onCustomerSelected($event)"
                          (filterChanged)="onCustomerFilterChanged($event)"
                          [options]="customersOptions">
        </ngx-autocomplete>

        <label class="d-block">Address</label>
        <input type="text" nbInput placeholder="Address" formControlName="address">

        <label class="d-block">State</label>
        <nb-select placeholder="State" formControlName="state" class="w-100 mb-2">
          <nb-option [value]="undefined">None</nb-option>
          <nb-option *ngFor="let state of states" [value]="state">{{state}}</nb-option>
        </nb-select>

        <label class="d-block" >Priority</label>
        <nb-select placeholder="Priority" formControlName="priority" class="w-100 mb-2">
          <nb-option [value]="undefined">None</nb-option>
          <nb-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</nb-option>
        </nb-select>
      </div>
    </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
      <button *ngIf="!shipment" nbButton status="success" (click)="create()" [disabled]="!form.valid">
        Create
      </button>
      <button *ngIf="shipment" nbButton status="success" (click)="update()" [disabled]="!form.valid">
        Update
      </button>
    </div>
  </nb-card-footer>
</nb-card>
