<nb-card>
  <ng-container *ngIf="product">
    <nb-card-header class="d-flex justify-content-between align-items-center">
      <div>
        <button nbButton routerLink="/pages/products" size="small" matTooltip="BACK" class="mr-2">
          <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>
        </button>
        Product:
        <b>{{product.id}}</b>
      </div>
      <div>
        <button nbButton status="primary" matTooltip="Edit" (click)="edit()">
          <nb-icon icon="edit-outline" pack="eva"></nb-icon>
        </button>
      </div>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <nb-list class="col-md-6">
          <nb-list-item class="justify-content-between">
            <span>Part Number:</span>
            <b>{{product.partNumber}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Size:</span>
            <b>{{product.size}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Unit of measure:</span>
            <b>{{product.uom}}</b>
          </nb-list-item>
        </nb-list>
        <nb-list class="col-md-6">
          <nb-list-item class="justify-content-between">
            <span>Stored:</span>
            <b>{{product.storedQuantity}}</b>
          </nb-list-item>
          <nb-list-item>
            <div>
              <div>Description:</div>
              <div><b>{{product.description}}</b></div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>

      <nb-tabset class="mt-4">
        <nb-tab tabTitle="Bill of materials">
          <ng-container *ngIf="!product.billOfMaterials.length" class="text-center">
            <p>No <b>BOM Items</b> yet.
          </ng-container>

          <ng-container *ngIf="product.billOfMaterials.length">
            <ngx-bom-item-table
              [dataSource]="product.billOfMaterials"
              [displayedColumns]="displayedColumns"
              [tableOptions]="tableOptions"
              (deleteEmitter)="onDeleteBomItem($event)">
            </ngx-bom-item-table>
          </ng-container>

          <div class="d-flex justify-content-end mt-4">
            <button nbButton (click)="addBomItem()">
              <nb-icon icon="plus-outline" pack="eva"></nb-icon>Add BOM Item
            </button>
          </div>
        </nb-tab>
      </nb-tabset>

    </nb-card-body>
  </ng-container>
</nb-card>
