<nb-card>
  <nb-card-header>
    Add Product
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex justify-content-start mb-3">
      <nb-form-field>
        <input type="text" nbInput placeholder="Part N." [(ngModel)]="query" (keydown.enter)="getFirstPage()">
        <button nbPrefix nbButton ghost (click)="getFirstPage()">
          <nb-icon icon="search" pack="eva"></nb-icon>
        </button>
        <button nbSuffix nbButton ghost (click)="resetSearch()" *ngIf="query">
          <nb-icon icon="close-outline"></nb-icon></button>
      </nb-form-field>
    </div>
    <ngx-semi-product-table
      [dataSource]="data"
      [displayedColumns]="displayedColumns"
      [tableOptions]="tableOptions"
      (addEmitter)="onAddProduct($event)">
    </ngx-semi-product-table>
<!--    <mat-paginator [pageSize]="10"-->
<!--                   [length]="length"-->
<!--                   [pageIndex]="pageIndex"-->
<!--                   (page)="setPage($event)"-->
<!--                   showFirstLastButtons-->
<!--                   matTooltipDisabled>-->
<!--    </mat-paginator>-->
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>
