<nb-card accent="primary">
  <nb-card-header>
    <div>Create Purchase Requisition</div>
  </nb-card-header>
  <nb-card-body>
    <b>{{semiProduct.partNumber}}</b>
    <p>{{semiProduct.description}}</p>

    <form [formGroup]="form" class="row form-dialog">

      <div class="col">
        <label class="d-block">Quantity</label>
        <input type="number" min="0" nbInput placeholder="Quantity" formControlName="quantity">

        <label class="d-block">Unit Price</label>
        <input type="number" min="0" nbInput placeholder="Unit Price" formControlName="unitPrice">

        <label class="d-block">Currency</label>
        <nb-select placeholder="Select Currency" formControlName="currency">
          <nb-option *ngFor="let cur of currencies" [value]="cur">{{cur}}</nb-option>
        </nb-select>
      </div>

    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
      <button nbButton status="success" (click)="create()" [disabled]="!form.valid">
        Create
      </button>
    </div>
  </nb-card-footer>
</nb-card>
