<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element" class="td-id"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element">
      <span [class]="'state + state-'+element.state">{{element.state}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef> Customer </th>
    <td mat-cell *matCellDef="let element"> {{element.customer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> Priority </th>
    <td mat-cell *matCellDef="let element">
      <span [class]="'priority + priority-'+element.priority">{{element.priority}}</span>
    </td>  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="customerOrders">
    <th mat-header-cell *matHeaderCellDef> Customer Orders N. </th>
    <td mat-cell *matCellDef="let element"> {{element.customerOrders.length}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button nbButton ghost size="small" [matMenuTriggerFor]="menu"
              *ngIf="tableOptions.edit || tableOptions.remove || tableOptions.detail">
        <nb-icon icon="more-horizontal-outline" pack="eva"></nb-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/pages/shipments/'+element.id" *ngIf="tableOptions.detail">
          <mat-icon>info</mat-icon>Detail
        </button>
        <button mat-menu-item (click)="edit(element)" *ngIf="tableOptions.edit">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-menu-item (click)="delete(element.id)" *ngIf="tableOptions.remove">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="add" *ngIf="tableOptions.add">
    <th mat-header-cell *matHeaderCellDef> Add </th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex align-items-center">
        <button nbButton (click)="add(element)">
          <nb-icon icon="car-outline" pack="eva"></nb-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
