<nb-card>
  <nb-card-header>
    <div *ngIf="!product">Create Product</div>
    <div *ngIf="product">
      Edit Product: <b>{{product.id}}</b>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="row form-dialog">
      <div class="col-md-6">
        <label class="d-block" for="partNumber">Part Number</label>
        <input id="partNumber" type="text" nbInput placeholder="Part Number" formControlName="partNumber">

        <label class="d-block" for="storedQuantity">Stored Quantity</label>
        <input id="storedQuantity" type="number" nbInput placeholder="Stored Quantity" formControlName="storedQuantity">

        <label class="d-block" for="uom">UOM</label>
        <input id="uom" type="text" nbInput placeholder="UOM" formControlName="uom">

        <label class="d-block" for="size">Size</label>
        <input id="size" type="text" nbInput placeholder="Size" formControlName="size">

        <label class="d-block" for="description">Description</label>
        <textarea id="description" nbInput fullWidth  placeholder="Description" formControlName="description">
        </textarea>
      </div>

      <div class="col-md-6">
        <label class="d-block" for="billOfMaterials">Bill of Materials</label>
        <input id="billOfMaterials" type="text" nbInput placeholder="billOfMaterials" formControlName="billOfMaterials">
      </div>
    </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
      <button *ngIf="!product" nbButton status="success" (click)="create()" [disabled]="!form.valid">
        Create
      </button>
      <button *ngIf="product" nbButton status="success" (click)="update()" [disabled]="!form.valid">
        Update
      </button>
    </div>
  </nb-card-footer>
</nb-card>
