<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="purchaseRequisition">
    <th mat-header-cell *matHeaderCellDef> Purch. Req. </th>
    <td mat-cell *matCellDef="let element"> {{element.purchaseRequisition}} </td>
  </ng-container>

  <ng-container matColumnDef="partNumber">
    <th mat-header-cell *matHeaderCellDef> Part N. </th>
    <td mat-cell *matCellDef="let element"> {{element.semiProduct.partNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element" [matTooltip]="element.semiProduct.description">
      <div class="td-long">{{element.semiProduct.description}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.semiProduct.manufacturer}} </td>
  </ng-container>

  <ng-container matColumnDef="uom">
    <th mat-header-cell *matHeaderCellDef> UOM </th>
    <td mat-cell *matCellDef="let element"> {{element.semiProduct.uom}} </td>
  </ng-container>

  <ng-container matColumnDef="storedQuantity">
    <th mat-header-cell *matHeaderCellDef> Stored </th>
    <td mat-cell *matCellDef="let element"> {{element.storedQuantity}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="action" *ngIf="tableOptions.edit || tableOptions.remove">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button nbButton ghost size="small" [matMenuTriggerFor]="menu">
        <nb-icon icon="more-horizontal-outline" pack="eva"></nb-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit(element)" *ngIf="tableOptions.edit">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-menu-item (click)="delete(element.id)" *ngIf="tableOptions.remove">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

<!--  <ng-container matColumnDef="select" *ngIf="tableOptions.add">-->
<!--    <th mat-header-cell *matHeaderCellDef> Add </th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <div class="d-flex align-items-center">-->
<!--        <input #quantity type="number" min="0" nbInput class="td-add">-->
<!--        <button nbButton (click)="addSemiProduct(element.id, quantity.value)">-->
<!--          <nb-icon icon="plus-outline" pack="eva"></nb-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </td>-->
<!--  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
