@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
//noinspection SassScssResolvedByNameOnly
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

// Define material theme

@include mat.core();

$my-app-primary: mat.define-palette(mat.$red-palette);
$my-app-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
      ),
    )
);

@include mat.all-component-themes($my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

nb-layout-header.fixed {
  z-index: 999 !important;
}

// Global styles
table {
  width: 100% !important;
}

th {
  color: #000 !important;
  background: #f6f3f3;
  padding: 0 5px !important
}

td {
  font-size: 13px !important;
  font-weight: 500;
  padding: 0 5px !important;
}

.td-id {
  font-size: 11px !important;
}

.td-long {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-add {
  width: 90px !important;
  margin: 0 5px !important;
}

.form-dialog label {
  margin: 0;
}

.form-dialog input {
  margin-bottom: 8px;
  width: 100%;
}

// States
.state {
  color: #fff;
  font-size: 10px;
  padding: 3px 6px;
  text-transform: uppercase;
  white-space: nowrap;
}

.state-planned {
  background: #006ba4;
}

.state-released {
  background: #37a400;
}

.state-processed {
  background: #a48300;
}

.state-closed {
  background: #1e00a4;
}

.state-canceled {
  background: #a40000;
}

.priority {
  color: #ffffff;
  font-size: 10px;
  padding: 3px 6px;
  text-transform: uppercase;
  white-space: nowrap;
}

.priority-low {
  background: #d18f8f;
}

.priority-medium {
  background: #ce5454;
}
.priority-high {
  background: #e10000;
}
