<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    Customers
    <button nbButton status="primary" (click)="create()">
      <nb-icon icon="plus-outline" pack="eva"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>

    <div class="d-flex justify-content-start mb-3">
      <nb-form-field>
        <input type="text" nbInput placeholder="Name" [(ngModel)]="query" (keydown.enter)="getFirstPage()">
        <button nbPrefix nbButton ghost (click)="getFirstPage()">
          <nb-icon icon="search" pack="eva"></nb-icon>
        </button>
        <button nbSuffix nbButton ghost (click)="resetSearch()" *ngIf="query">
          <nb-icon icon="close-outline"></nb-icon></button>
      </nb-form-field>
    </div>

    <ngx-customer-table
      [dataSource]="data"
      [displayedColumns]="displayedColumns"
      (editEmitter)="update($event)"
      (deleteEmitter)="delete($event)"
    ></ngx-customer-table>

    <mat-paginator
      *ngIf="length > 10"
      [pageSize]="10"
      [length]="length"
      [pageIndex]="pageIndex"
      (page)="setPage($event)"
      showFirstLastButtons>
    </mat-paginator>

  </nb-card-body>
</nb-card>
