<nb-card>
  <nb-card-header>
    <div *ngIf="!customerOrder">Create Customer Order</div>
    <div *ngIf="customerOrder">
      Edit Customer Order: <b>{{customerOrder.id}}</b>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="row form-dialog">
      <div class="col-md-6">
        <label class="d-block" for="orderDate">Order Date</label>
        <input id="orderDate" nbInput placeholder="Pick Order Date" [nbDatepicker]="orderDate" formControlName="orderDate">
        <nb-datepicker #orderDate></nb-datepicker>

        <label class="d-block" for="price">Price</label>
        <input id="price" type="number" min="0" nbInput placeholder="Price" formControlName="price">

        <label class="d-block" for="orderProfit">Order Profit</label>
        <input id="orderProfit" type="number" nbInput placeholder="Order Profit" formControlName="orderProfit">

        <label class="d-block" for="currency">Currency</label>
        <nb-select id="currency" placeholder="Select Currency" formControlName="currency">
          <nb-option *ngFor="let cur of currencies" [value]="cur">{{cur}}</nb-option>
        </nb-select>

        <label class="d-block" for="priority">Priority</label>
        <nb-radio-group id="priority" name="priority" formControlName="priority">
          <nb-radio *ngFor="let priority of priorities" [value]="priority">{{ priority }}</nb-radio>
        </nb-radio-group>
      </div>
      <div class="col-md-6">
        <label class="d-block" for="productionSeq">Production Sequence</label>
        <input id="productionSeq" type="text" nbInput placeholder="Production Sequence" formControlName="productionSeq">

        <label class="d-block" for="customer">Customer</label>
        <ngx-autocomplete id="customer"
          (valueSelected)="onCustomerSelected($event)"
          (filterChanged)="onCustomerFilterChanged($event)"
          [options]="customersOptions">
        </ngx-autocomplete>

        <label class="d-block" for="state">State</label>
        <nb-radio-group id="state" name="state" formControlName="state">
          <nb-radio *ngFor="let state of states" [value]="state">{{ state }}</nb-radio>
        </nb-radio-group>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
      <button *ngIf="!customerOrder" nbButton status="success" (click)="create()" [disabled]="!form.valid">
        Create
      </button>
      <button *ngIf="customerOrder" nbButton status="success" (click)="update()" [disabled]="!form.valid">
        Update
      </button>
    </div>
  </nb-card-footer>
</nb-card>
