<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element" class="td-id"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element">
      <span [class]="'state state-'+element.state">{{element.state}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="semiProduct">
    <th mat-header-cell *matHeaderCellDef> Part N. </th>
    <td mat-cell *matCellDef="let element"> {{element.semiProduct.partNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="purchaseOrder">
    <th mat-header-cell *matHeaderCellDef> Purchase Order </th>
    <td mat-cell *matCellDef="let element" class="td-id">
      <a [routerLink]="'/pages/purchase-orders/'+element.purchaseOrder" *ngIf="element.purchaseOrder">
        {{element.purchaseOrder}}
      </a>
      <div *ngIf="!element.purchaseOrder" class="text-center">-</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="productionOrder">
    <th mat-header-cell *matHeaderCellDef> Production Order </th>
    <td mat-cell *matCellDef="let element" class="td-id">
      <a [routerLink]="'/pages/production-orders/'+element.productionOrder">
        {{element.productionOrder}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell *matHeaderCellDef> Unit Price </th>
    <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency: element.currency.toUpperCase()}} </td>
  </ng-container>

  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let element"> {{element.currency | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="action" >
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button nbButton ghost size="small" [matMenuTriggerFor]="menu" *ngIf="element.state === 'planned'">
        <nb-icon icon="more-horizontal-outline" pack="eva"></nb-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="add(element)" *ngIf="tableOptions.add" [disabled]="element.state !== 'planned'">
          <mat-icon>add_shopping_cart</mat-icon>Add to Purchase Order
        </button>
        <button mat-menu-item (click)="edit(element)" *ngIf="tableOptions.edit">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-menu-item (click)="delete(element.id)" *ngIf="tableOptions.remove">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
