<nb-card>
  <nb-card-header>
    <div *ngIf="!customer">Create Customer</div>
    <div *ngIf="customer">
      Edit Customer: <b>{{customer.id}}</b>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="row form-dialog">
      <div class="col">
        <label class="d-block" for="name">Name</label>
        <input id="name" type="text" nbInput placeholder="Name" formControlName="name">

        <label class="d-block" for="description">Description</label>
        <textarea id="description" nbInput placeholder="Description" formControlName="description"></textarea>

        <label class="d-block" for="country">Country</label>
        <input id="country" type="text" nbInput placeholder="Country" formControlName="country">
      </div>
    </form>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
      <button *ngIf="!customer" nbButton status="success" (click)="create()" [disabled]="!form.valid">
        Create
      </button>
      <button *ngIf="customer" nbButton status="success" (click)="update()" [disabled]="!form.valid">
        Update
      </button>
    </div>
  </nb-card-footer>
</nb-card>
