<nb-card>
  <ng-container *ngIf="customerOrder">
    <nb-card-header class="d-flex justify-content-between align-items-center">
      <div>
        <button nbButton routerLink="/pages/customer-orders" size="small" matTooltip="back" class="mr-2">
          <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>
        </button>
        Customer order:
        <b>{{customerOrder.id}}</b>
      </div>
      <div>
        <button nbButton status="primary" matTooltip="Edit" (click)="edit()">
          <nb-icon icon="edit-outline" pack="eva"></nb-icon>
        </button>
        <button class="ml-2" nbButton matTooltip="Ship Order" *ngIf="canShip()" (click)="addShipping()">
          <nb-icon icon="car-outline" pack="eva"></nb-icon>
        </button>
      </div>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <nb-list class="col-md-6">
          <nb-list-item class="justify-content-between">
            <div>State:</div>
            <div>
              <span [class]="'state state-'+customerOrder.state">
                {{customerOrder.state}}
              </span>
            </div>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Priority:</span>
            <span [class]="'priority priority-'+customerOrder.priority">
              {{customerOrder.priority}}
            </span>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Order Date:</span>
            <b>{{customerOrder.orderDate | date:'dd-MM-yyyy'}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Price:</span>
            <b>{{customerOrder.price | currency: customerOrder.currency.toUpperCase()}}</b>
          </nb-list-item>
        </nb-list>
        <nb-list class="col-md-6">
          <nb-list-item class="justify-content-between">
            <span>Order Profit:</span>
            <b>{{customerOrder.orderProfit | currency: customerOrder.currency.toUpperCase()}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Currency:</span>
            <b>{{customerOrder.currency | uppercase}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Production Sequence:</span>
            <b>{{customerOrder.productionSeq}}</b>
          </nb-list-item>
          <nb-list-item class="justify-content-between">
            <span>Customer:</span>
            <b>{{customerOrder.customer.name}}</b>
          </nb-list-item>
        </nb-list>
      </div>

      <nb-tabset fullWidth class="mt-4">
        <nb-tab tabTitle="Product Orders">
          <ng-container *ngIf="!customerOrder.productOrders.length" class="text-center">
            <p>No <b>Product Orders</b> yet.
          </ng-container>

          <ng-container *ngIf="customerOrder.productOrders.length">
            <ngx-product-order-table
              [dataSource]="customerOrder.productOrders"
              [displayedColumns]="displayedColumnsProductOrders"
              (reserveEmitter)="onReserveProduct($event)"
              (deleteEmitter)="onDeleteProductOrder($event)">
            </ngx-product-order-table>
          </ng-container>

          <div class="d-flex justify-content-end mt-4"
               *ngIf="customerOrder.state === 'planned' || customerOrder.state === 'released'">
            <button nbButton (click)="addProduct()">
              <nb-icon icon="plus-outline" pack="eva"></nb-icon>Add product
            </button>
          </div>

        </nb-tab>

        <nb-tab tabTitle="Product Reservations">
          <ng-container *ngIf="!customerOrder.productReservations.length" class="text-center">
            <p>No <b>Product Reservations</b> yet.
          </ng-container>

          <ng-container *ngIf="customerOrder.productReservations.length">
            <ngx-product-reservation-table
              [dataSource]="customerOrder.productReservations"
              [displayedColumns]="displayedColumnsProductReservations">
            </ngx-product-reservation-table>
          </ng-container>
        </nb-tab>
      </nb-tabset>

    </nb-card-body>
  </ng-container>
</nb-card>
