<nb-card>
  <ng-container *ngIf="customerOrder">
    <nb-card-header class="d-flex justify-content-between align-items-center">
      <div>
        Customer order:
        <b>{{customerOrder.id}}</b>
      </div>
      <button nbButton status="primary" size="small">
        <nb-icon (click)="edit()" icon="edit-outline" pack="eva"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <b>State:</b>
          {{customerOrder.state}}
        </nb-list-item>
        <nb-list-item>
          <b>Priority:</b>
          {{customerOrder.priority}}
        </nb-list-item>
        <nb-list-item>
          <b>Order Date:</b>
          {{customerOrder.orderDate | date:'dd-MM-yyyy'}}
        </nb-list-item>
        <nb-list-item>
          <b>Price:</b>
          {{customerOrder.price | currency: customerOrder.currency.toUpperCase()}}
        </nb-list-item>
        <nb-list-item>
          <b>Order Profit:</b>
          {{customerOrder.orderProfit | currency: customerOrder.currency.toUpperCase()}}
        </nb-list-item>
        <nb-list-item>
          <b>Currency:</b>
          {{customerOrder.currency | uppercase}}
        </nb-list-item>
        <nb-list-item>
          <b>Production Sequence:</b>
          {{customerOrder.productionSeq}}
        </nb-list-item>
        <nb-list-item>
          <b>Customer:</b>
          {{customerOrder.customer}}
        </nb-list-item>
      </nb-list>

      <nb-card>
        <nb-card-body>
          <nb-tabset fullWidth>

            <nb-tab tabTitle="Products">
              <ng-container *ngIf="!customerOrder.products.length" class="text-center">
                <p>No <b>Products</b> yet.
              </ng-container>

              <ng-container *ngIf="customerOrder.products.length">
                <table mat-table [dataSource]="customerOrder.products">

                  <!-- Position Column -->
                  <ng-container matColumnDef="partNumber">
                    <th mat-header-cell *matHeaderCellDef> Part N. </th>
                    <td mat-cell *matCellDef="let element"> {{element.partNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="uom">
                    <th mat-header-cell *matHeaderCellDef> UOM </th>
                    <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
                  </ng-container>

                  <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </ng-container>

            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>

    </nb-card-body>
  </ng-container>
</nb-card>
